<html >
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Instagram - Powered by Satellizer</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/paper/bootstrap.min.css">
  <link rel="stylesheet" href="//code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

</head>
<body>
   <% include ../views/common/header %>
   <div class="container">
      <div class="jumbotron">
          <img src="images/beans.jpg" height="300" width="500"></img>
          <h2><i class="fa fa-coffee"></i>RTK Coffee</h2>
          <p>Welcome to San Jose State University Cmpe281 Coffee Shop <strong>RTK</strong>. To order, please <a href="/login">log in</a> with your account or <a href='/signup'>sign up</a> .</p>

      </div>
    </div>
</body>
