<h2>Confirm your order</h2>

<table>
<th>Cups</th><th>Coffee</th><th>Milk</th><th>Size</th>
<% order.items.forEach(function(item) { %>
<tr>
  <td><%= item.qty %></td>
  <td><%= item.name %></td>
  <td><%= item.milk %></td>
  <td><%= item.size %></td>
</tr>
<% }); %>
